<div class="root">
    <div class="intro">
      <div class="choice">
        <h1 class="why-shohay-is">
          Why Shohay is the Smart Choice for your NGO
        </h1>
        <div class="at-shohay-we">
          At Shohay, we know the challenges and opportunities that NGOs face
          in Bangladesh. Our integrated suite offers the resources and backing
          necessary to gather knowledge, consolidate processes, enhance
          efficacy, and drive societal progress.
        </div>
      </div>
      <button class="more">
        <b class="show-more">Show More</b>
      </button>
    </div>
    <div class="solution">
      <div class="features">
        <img
          class="features-child"
          loading="lazy"
          alt=""
          src="../../../assets/ucp-1.png"
        />

        <div class="feature-description">
          <h3 class="all-in-one-solution">All-in-One Solution</h3>
          <div class="shohay-centralizes-all">
            Shohay centralizes all aspects of NGO information and management
            in one intuitive platform.
          </div>
        </div>
      </div>
      <div class="features1">
        <img
          class="features-item"
          loading="lazy"
          alt=""
          src="../../../assets/ucp-1.png"
        />

        <div class="total-flexibility-parent">
          <h3 class="total-flexibility">Total Flexibility</h3>
          <div class="customize-your-experience">
            Customize your experience. Access exactly what you need, when you
            need it.
          </div>
        </div>
      </div>
      <div class="features2">
        <img
          class="features-inner"
          loading="lazy"
          alt=""
          src="../../../assets/usp-3.png"
        />

        <div class="local-expertise-parent">
          <h3 class="local-expertise">Local Expertise</h3>
          <div class="shohay-platform-is">
            Shohay platform is built by people who have extensive knowledge
            of  NGOs in Bangladesh.
          </div>
        </div>
      </div>
      <div class="features3">
        <img
          class="group-icon"
          loading="lazy"
          alt=""
          src="../../../assets/usp-4.png"
        />

        <div class="click-and-connect-parent">
          <h3 class="click-and-connect">Click and Connect</h3>
          <div class="before-shohay-connection">
            Before Shohay, connection between donors and impactful NGOs has
            never been this easier.
          </div>
        </div>
      </div>
    </div>
  </div>
