<div class="root">
  <footer class="nested-list">
    <!-- <div class="nested-list-child"></div> -->
    <div class="list-element">
      <div class="list-element1">
        <div class="list-element2">
          <img
            class="list-element-child"
            loading="lazy"
            alt=""
            src="../../../assets/Group 39518.svg"
          />

          <div class="list-element3">
            <a class="shohay">Shohay</a>
          </div>
        </div>
        <div class="copyright">Empowering NGOs for a Stronger Bangladesh</div>
        <div class="social-media">
          <div class="social-media-icon-squarefaceb">
            <!-- <div class="social-media-icon"></div> -->
            <img
              class="facebook-icon"
              loading="lazy"
              alt=""
              src="../../../assets/facebook.svg"
            />
          </div>
          <div class="social-icons">
            <div class="social-media-icon-squaretwitt">
              <!-- <div class="social-media-icon1"></div> -->
              <img
                class="twitter-icon"
                loading="lazy"
                alt=""
                src="../../../assets/twitter.svg"
              />
            </div>
          </div>
          <img
            class="social-media-icon-squareinsta"
            loading="lazy"
            alt=""
            src="../../../assets/social-media-icon-squareinstagram@2x.png"
          />

          <div class="social-media-icon-squarelinke">
            <!-- <div class="social-media-icon2"></div> -->
            <img
              class="linkedin-icon"
              loading="lazy"
              alt=""
              src="../../../assets/linkedin.svg"
            />
          </div>

          <div class="social-icons1">
            <div class="social-media-icon-squareyoutu">
              <div class="social-media-icon3"></div>
              <img
                class="youtube-icon"
                loading="lazy"
                alt=""
                src="../../../assets/youtube.svg"
              />
            </div>

          </div>
          
        </div>
      </div>
      <div class="footer">
        <div class="footer-column">
          <a class="footer-title">Product</a>
          <div class="footer-links">
            <div class="link">
              <div class="master-link">
                <img
                  class="line-roundedpassword-icon"
                  alt=""
                  src="../../../assets/line-roundedpassword.svg"
                />

                <img
                  class="line-roundedchevron-down"
                  alt=""
                  src="../../../assets/line-roundedchevron-down.svg"
                />

                <a class="features">Features</a>
              </div>
            </div>
            <div class="link1">
              <div class="master-link1">
                <img
                  class="line-roundedpassword-icon1"
                  alt=""
                  src="./public/line-roundedpassword.svg"
                />

                <img
                  class="line-roundedchevron-down1"
                  alt=""
                  src="./public/line-roundedchevron-down.svg"
                />

                <a class="pricing">Pricing</a>
              </div>
            </div>
            <div class="link2">
              <div class="master-link2">
                <img
                  class="line-roundedpassword-icon2"
                  alt=""
                  src="./public/line-roundedpassword.svg"
                />

                <a class="case-studies">Case studies</a>
                <img
                  class="line-roundedchevron-down2"
                  alt=""
                  src="./public/line-roundedchevron-down.svg"
                />
              </div>
            </div>
            <div class="link3">
              <div class="master-link3">
                <img
                  class="line-roundedpassword-icon3"
                  alt=""
                  src="./public/line-roundedpassword.svg"
                />

                <a class="reviews">Reviews</a>
                <img
                  class="line-roundedchevron-down3"
                  alt=""
                  src="./public/line-roundedchevron-down.svg"
                />
              </div>
            </div>
            <div class="link4">
              <div class="master-link4">
                <img
                  class="line-roundedpassword-icon4"
                  alt=""
                  src="./public/line-roundedpassword.svg"
                />

                <div class="updates">Updates</div>
                <img
                  class="line-roundedchevron-down4"
                  alt=""
                  src="./public/line-roundedchevron-down.svg"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="footer-column1">
          <a class="footer-title1">Company</a>
          <div class="footer-links1">
            <div class="link5">
              <div class="master-link5">
                <img
                  class="line-roundedpassword-icon5"
                  alt=""
                  src="./public/line-roundedpassword.svg"
                />

                <a class="about">About</a>
                <img
                  class="line-roundedchevron-down5"
                  alt=""
                  src="./public/line-roundedchevron-down.svg"
                />
              </div>
            </div>
            <div class="link6">
              <div class="master-link6">
                <img
                  class="line-roundedpassword-icon6"
                  alt=""
                  src="./public/line-roundedpassword.svg"
                />

                <a class="contact-us">Contact us</a>
                <img
                  class="line-roundedchevron-down6"
                  alt=""
                  src="./public/line-roundedchevron-down.svg"
                />
              </div>
            </div>
            <div class="link7">
              <div class="master-link7">
                <img
                  class="line-roundedpassword-icon7"
                  alt=""
                  src="./public/line-roundedpassword.svg"
                />

                <a class="careers">Careers</a>
                <img
                  class="line-roundedchevron-down7"
                  alt=""
                  src="./public/line-roundedchevron-down.svg"
                />
              </div>
            </div>
            <div class="link8">
              <div class="master-link8">
                <img
                  class="line-roundedpassword-icon8"
                  alt=""
                  src="./public/line-roundedpassword.svg"
                />

                <a class="culture">Culture</a>
                <img
                  class="line-roundedchevron-down8"
                  alt=""
                  src="./public/line-roundedchevron-down.svg"
                />
              </div>
            </div>
            <div class="link9">
              <div class="master-link9">
                <img
                  class="line-roundedpassword-icon9"
                  alt=""
                  src="./public/line-roundedpassword.svg"
                />

                <a class="blog">Blog</a>
                <img
                  class="line-roundedchevron-down9"
                  alt=""
                  src="./public/line-roundedchevron-down.svg"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="third-footer-column">
          <div class="footer-column2">
            <a class="footer-title2">Support</a>
            <div class="footer-links2">
              <div class="link10">
                <div class="master-link10">
                  <img
                    class="line-roundedpassword-icon10"
                    alt=""
                    src="./public/line-roundedpassword.svg"
                  />

                  <div class="getting-started">Getting started</div>
                  <img
                    class="line-roundedchevron-down10"
                    alt=""
                    src="./public/line-roundedchevron-down.svg"
                  />
                </div>
              </div>
              <div class="link11">
                <div class="master-link11">
                  <img
                    class="line-roundedpassword-icon11"
                    alt=""
                    src="./public/line-roundedpassword.svg"
                  />

                  <div class="help-center">Help center</div>
                  <img
                    class="line-roundedchevron-down11"
                    alt=""
                    src="./public/line-roundedchevron-down.svg"
                  />
                </div>
              </div>
              <div class="link12">
                <div class="master-link12">
                  <img
                    class="line-roundedpassword-icon12"
                    alt=""
                    src="./public/line-roundedpassword.svg"
                  />

                  <div class="server-status">Server status</div>
                  <img
                    class="line-roundedchevron-down12"
                    alt=""
                    src="./public/line-roundedchevron-down.svg"
                  />
                </div>
              </div>
              <div class="link13">
                <div class="master-link13">
                  <img
                    class="line-roundedpassword-icon13"
                    alt=""
                    src="./public/line-roundedpassword.svg"
                  />

                  <div class="report-a-bug">Report a bug</div>
                  <img
                    class="line-roundedchevron-down13"
                    alt=""
                    src="./public/line-roundedchevron-down.svg"
                  />
                </div>
              </div>
              <div class="link14">
                <div class="master-link14">
                  <img
                    class="line-roundedpassword-icon14"
                    alt=""
                    src="./public/line-roundedpassword.svg"
                  />

                  <div class="chat-support">Chat support</div>
                  <img
                    class="line-roundedchevron-down14"
                    alt=""
                    src="./public/line-roundedchevron-down.svg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-contact">
          <a class="footer-title3">Contact us</a>
          <div class="contact-links">
            <div class="link15">
              <div class="master-link15">
                <img
                  class="line-roundedemail-icon"
                  loading="lazy"
                  alt=""
                  src="../../../assets/line-roundedemail.svg"
                />

                <div class="link-item">info-shohay.net</div>
                <img
                  class="line-roundedchevron-down15"
                  alt=""
                  src="../../../assets/line-roundedchevron-down.svg"
                />
              </div>
            </div>
            <div class="link16">
              <div class="master-link16">
                <img
                  class="line-roundedphone-icon"
                  loading="lazy"
                  alt=""
                  src="../../../assets/line-roundedphone.svg"
                />

                <div class="link-item1">+880 123456789</div>
                <img
                  class="line-roundedchevron-down16"
                  alt=""
                  src="./public/line-roundedchevron-down.svg"
                />
              </div>
            </div>
            <div class="footer-description-container">
              <img
                class="spacer-icon-wrapper"
                loading="lazy"
                alt=""
                src="../../../assets/spacer-icon-wrapper.svg"
              />

              <div class="footer-description">
                123 street, Dhaka, Bangladesh
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="line-parent">
      <div class="frame-child"></div>
      <div class="footer-wrapper">
        <div class="footer-content">
          <div class="footer-left">2024 Shohay. All rights reserved.</div>
          <div class="footer-right">
            All Rights Reserved |
            <span class="terms-and-conditions">Terms and Conditions</span> |
            <span class="privacy-policy">Privacy Policy</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
