<div class="root container-fluid" >
  <!-- <div class="root-child"></div> -->
   <div class="row">

     <div class="container-wrapper container-fluid col-xl-8 col-lg-8 col-md-8 col-sm-12">
       <div class="container ">
         <div class="frame-parent">
           <div class="startmanage-your-ngo-with-sho-wrapper">
             <div class="startmanage-your-ngo">
               Start/Manage your NGO with Shohay
             </div>
           </div>
           <h1 class="shohay-the-all-in-one-container">
             <span>Shohay</span>
             <span class="the-all-in-one-ngo"
               >: The All-in-One NGO Hub for Bangladesh</span
             >
           </h1>
           <div class="welcome-to-our">
             Welcome to our one-stop platform for everything related to NGOs in
             Bangladesh. Discover, connect, and thrive.
           </div>
           <div class="feature-grid">
             <div class="feature-icons">
               <img
                 class="inventory-icon"
                 loading="lazy"
                 alt=""
                 src="../../../assets/inventory.svg"
               />
   
               <div class="ngo-formation">NGO Formation & Legal Compliance</div>
             </div>
             <div class="feature-icons1">
               <img
                 class="crowdsource-icon"
                 loading="lazy"
                 alt=""
                 src="../../../assets/crowdsource.svg"
               />
   
               <div class="fundraising-donor">Fundraising & Donor Management</div>
             </div>
             <div class="feature-icons2">
               <img
                 class="description-icon"
                 loading="lazy"
                 alt=""
                 src="../../../assets/description.svg"
               />
   
               <div class="field-data-collection">
                 Field Data Collection & Management
               </div>
             </div>
             <div class="feature-icons3">
               <img
                 class="add-task-icon"
                 loading="lazy"
                 alt=""
                 src="../../../assets/add-task.svg"
               />
   
               <div class="project-planning">Project Planning & Management</div>
             </div>
           </div>
         </div>
         <div class="search-input-parent">
           <div class="search-input">
             <button class="n-g-o-input">
               <b class="discover-ngo-solutions">Discover NGO Solutions</b>
             </button>
             <button class="explore-n-g-os">
               <b class="explore-ngos">Explore NGOs</b>
             </button>
           </div>
           <div class="or-find-an">Or Find an NGO</div>
           <div class="search-input1">
             <div class="enter-ngo-name">Enter NGO name here</div>
             <button class="search-wrapper">
               <b class="search">Search</b>
             </button>
           </div>
         </div>
       </div>
     </div>
     <div class="featured-container-parent col-xl-auto col-lg-auto col-md-auto col-sm-12">
       <div class="featured-container">
         <!-- <div class="featured-container-child"></div> -->
         <button class="featured-heading">
           <b class="featured">Featured</b>
         </button>
         <div class="featured-n-g-os"> 
           <div class="n-g-o-card">
             <div class="card-wrapper">
               <div class="card-content">
                 <img
                   class="gpt-4o-video-card-1-icon"
                   loading="lazy"
                   alt=""
                   src="../../../assets/gpt4ovideo-card-1@2x.png"
                 />
   
                 <div class="n-g-o-logo">
                   <!-- <div class="n-g-o-logo-child"></div> -->
                   <img
                     class="brac-logo-1-icon"
                     loading="lazy"
                     alt=""
                     src="../../../assets/brac-logo-1.svg"
                   />
                 </div>
               </div>
             </div>
             <div class="n-g-o-details">
               <div class="n-g-o-info">
                 <h3 class="brac">Brac</h3>
                 <div class="donate-button">
                   <button class="button-wrapper">
                     <b class="donate">Donate</b>
                   </button>
                 </div>
               </div>
               <div class="brac-is-an">
                 BRAC is an international development organisation founded in
                 Bangladesh in 1972 that partners with over 100 million people
                 living with inequality and poverty to create opportunities to
                 realise human potential.
               </div>
               <div class="learn-more">
                 <div class="link-wrapper">
                   <a class="learn-more1">Learn More</a>
                 </div>
                 <img
                   class="chevron-forward-icon"
                   loading="lazy"
                   alt=""
                   src="../../../assets/chevron-forward.svg"
                 />
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="submission-container-parent">
         <div class="submission-container">
           <div class="submission-message">
             <div class="submit-your-ngo">Submit your NGO to be featured here</div>
           </div>
           <img
             class="arrow-right-alt-icon"
             loading="lazy"
             alt=""
             src="../../../assets/arrow-right-alt.svg"
           />
         </div>
         <div class="carousel">
           <div class="carousel-controls">
             <img
               class="arrow-forward-ios-icon"
               loading="lazy"
               alt=""
               src="../../../assets/arrow-forward-ios@2x.png"
             />
   
             <div class="carousel-dots">
               <div class="dots-container">
                 <div class="navigation-dots"></div>
                 <div class="navigation-dots1"></div>
                 <div class="navigation-dots2"></div>
               </div>
             </div>
             <img
               class="arrow-forward-ios-icon1"
               loading="lazy"
               alt=""
               src="../../../assets/arrow-forward-ios-1.svg"
             />
           </div>
         </div>
       </div>
     </div>
   </div>
</div>
