<div class="root">
  <div class="news-container">
    <h1 class="stay-updated-with">
      Stay updated with the latest news and helpful articles
    </h1>
  </div>
  <section class="news-cards">
    <div class="frame-parent">
      <div class="rectangle-parent">
        <img class="frame-child" alt="" src="./public/rectangle-30075@2x.png" />

        <div class="article-wrapper">
          <div class="article">Article</div>
        </div>
      </div>
      <div class="primary-education-bangladesh">
        Primary education Bangladesh
      </div>
      <div class="development-ngos-arm">
        Development NGOs: Arm of the state or part of civil society?
      </div>
      <div class="frame-group">
        <div class="read-more-wrapper">
          <div class="read-more">Read More</div>
        </div>
        <img
          class="arrow-right-alt-icon"
          loading="lazy"
          alt=""
          src="./public/arrow-right-alt.svg"
        />
      </div>
    </div>
    <div class="frame-container">
      <div class="rectangle-group">
        <img class="frame-item" alt="" src="./public/rectangle-30075@2x.png" />

        <div class="news-wrapper">
          <a class="news">News</a>
        </div>
      </div>
      <div class="development-activities-in">
        Development Activities in Bangladesh
      </div>
      <div class="local-ngos-for">
        Local NGOs for leadership role thru’ equal partnership with intl’ orgs
      </div>
      <div class="frame-div">
        <div class="read-more-container">
          <div class="read-more1">Read More</div>
        </div>
        <img
          class="arrow-right-alt-icon1"
          loading="lazy"
          alt=""
          src="./public/arrow-right-alt.svg"
        />
      </div>
    </div>
    <div class="frame-parent1">
      <div class="rectangle-container">
        <img class="frame-inner" alt="" src="./public/rectangle-30075@2x.png" />

        <div class="article-container">
          <div class="article1">Article</div>
        </div>
      </div>
      <div class="rohingya-fund">Rohingya Fund | Rohingya Crisis</div>
      <div class="rohingya-fund-use">
        Rohingya Fund Use: INGO Forum welcomes probe
      </div>
      <div class="frame-parent2">
        <div class="read-more-frame">
          <a class="read-more2">Read More</a>
        </div>
        <img
          class="arrow-right-alt-icon2"
          loading="lazy"
          alt=""
          src="./public/arrow-right-alt.svg"
        />
      </div>
    </div>
    <div class="frame-parent3">
      <div class="rectangle-parent1">
        <img
          class="rectangle-icon"
          alt=""
          src="./public/rectangle-30075@2x.png"
        />

        <div class="news-frame">
          <a class="news1">News</a>
        </div>
      </div>
      <div class="microsoft-charity">Microsoft | Charity</div>
      <div class="ngos-in-bangladesh">
        NGOs in Bangladesh now eligible for Microsoft charitable pricing
      </div>
      <div class="frame-parent4">
        <div class="read-more-wrapper1">
          <div class="read-more3">Read More</div>
        </div>
        <img
          class="arrow-right-alt-icon3"
          loading="lazy"
          alt=""
          src="./public/arrow-right-alt.svg"
        />
      </div>
    </div>
  </section>
  <div class="news-footer">
    <button class="see-all-container">
      <b class="see-all-news">See all news</b>
    </button>
  </div>
</div>
