<div class="container-lg  ">

    <div class="root1 m-5 row  text-start">
        
            <div class="transformation  col-md-8  col-sm-12">
              <h1 class="transform-your-ngo-container">
                <p class="transform-your-ngo">Transform Your NGO Operations with Shohay</p>
                <p class="with-shohay"></p>
              </h1>
              <div class="have-an-ngo">
                Have an NGO? Simplify management with our advanced platform, or
                Starting a New NGO? Register today and kickstart your initiatives with
                our comprehensive support
              </div>
            </div>
            
            <div class="call-to-action  col-md-auto col-sm-12" >
              <button class="sign-up ">
                Sign Up Now - It’s FREE
              </button>
              <div class="credit-card ">
                <input class="check" type="checkbox" />
        
                <div class="no-credit-card">No credit card required</div>
              </div>
            </div>

        
    </div>
</div>