<div class="root">
    <div class="we-are-trusted-by-wrapper">
      <div class="we-are-trusted">We are Trusted by</div>
    </div>
    <section class="logo-banner">
      <div class="logo-1-wrapper">
        <img
          class="logo-1-icon"
          loading="lazy"
          alt=""
          src="../../../assets/logo-1@2x.png"
        />
      </div>
      <img
        class="caritas-bangladesh-logo-e9e926-icon"
        loading="lazy"
        alt=""
        src="../../../assets/caritasbangladeshlogoe9e9263441seeklogo-2@2x.png"
      />

      <div class="image-1-wrapper">
        <img
          class="image-1-icon"
          loading="lazy"
          alt=""
          src="../../../assets/image-1@2x.png"
        />
      </div>
      <img
        class="image-2-icon"
        loading="lazy"
        alt=""
        src="../../../assets/image-2@2x.png"
      />

      <img
        class="image-3-icon"
        loading="lazy"
        alt=""
        src="../../../assets/image-3@2x.png"
      />

      <div class="image-4-wrapper">
        <img
          class="image-4-icon"
          loading="lazy"
          alt=""
          src="../../../assets/image-4@2x.png"
        />
      </div>
      <img
        class="image-5-icon"
        loading="lazy"
        alt=""
        src="../../../assets/image-5@2x.png"
      />
    </section>
  </div>
