
<div class="notification text-center overflow-hidden ">
  <p class="mx-2  ">Shohay offers a comprehensive compliance module for new NGO registration and annual NGO form submission services .<span><a href="" class="not-link ml-3">Learn More <i class="bi bi-arrow-right"></i></a></span></p>
</div>

<nav class="navbar overflow-hidden navbar-expand-lg navbar-expand-xl navbar-light bg-light overflow-hidden" >
  
  <div class="nav-logo">
    <a class="navbar-brand ml-4 mr-auto"  href="#"><img src="../../../assets/Group 39518.svg" alt=""></a>
    <h1 class=" nav-shohay">Shohay</h1>
  </div>  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="main-nav">
      <div class="main-left-nav">

        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link nav-li dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link  nav-li" href="#"> <span class="sr-only">(current)</span>Find an NGO</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link nav-li" href="#"><span class="sr-only">(current)</span>Start/Manage NGO </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-li" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Resourses
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>

          <li class="nav-item ">
            <!--  -->
            <a class="nav-link nav-li" href="#"><span class="sr-only">(current)</span>Corporate</a>
          </li>

          <li class="nav-item">
            <a class="nav-link  nav-li" href="#"> <span class="sr-only">(current)</span>About </a>
          </li>

          <li class="nav-item ">
            <!--  -->
            <a class="nav-link nav-li" href="#"><span class="sr-only">(current)</span>Support</a>
          </li>
          
          
          
          
        </ul>
      </div>
      <div class="main-right-nav">

        <form class="form-inline my-2 my-lg-0">
          <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
           <div class="nav-left">
    
             <i class="bi bi-search"></i>
             <select class="nav-lang" name="" id="">
               <option value="">EN</option>
               <option value="">BN</option>
             </select>
             <button class="nav-right-button1" >Login</button>
             <button class="nav-right-button2" >Contact with Sale</button>
           </div>
        </form>
      </div>
    </div>
  </div>
</nav>


