<div class="root">
    <div class="row justify-content-md-center ">

        <section class="container ">
          <div class="container1">
            <div class="container2">
              <h1 class="empowerment-tools-for">Empowerment Tools for NGOs</h1>
            </div>
            <div class="explore-our-dynamic">
              Explore our dynamic, component-based tools designed to assist you in
              managing every NGO task.
            </div>
          </div>
        </section>
        <section class="container3  ">
          <div class="formation row mt-3  pb-4 text-center  ">
            <div class="formation-grid   col-xl-3 col-md-6  col-sm-6">
              <img
                class="formation-grid-child"
                loading="lazy"
                alt=""
                src="../../../assets/group-2@2x.png"
              />
    
              <h3 class="ngo-formation">NGO Formation & Legal Compliance</h3>
              <div class="simplify-your-registration">
                Simplify your registration, bylaws, and annual filings.
              </div>
            </div>
            <div class="formation-grid1   col-md-6 col-xl-3 col-sm-6 ">
              <img
                class="formation-grid-item"
                loading="lazy"
                alt=""
                src="../../../assets/group-3-1@2x.png"
              />
    
              <h3 class="fundraising-donor">Fundraising & Donor Management</h3>
              <div class="cultivate-relationships-track">
                Cultivate relationships, track donations, and run successful
                campaigns.
              </div>
            </div>
            <div class="formation-grid2   col-md-6 col-xl-3 col-sm-6">
              <img
                class="formation-grid-inner"
                loading="lazy"
                alt=""
                src="../../../assets/group-3-2@2x.png"
              />
    
              <h3 class="field-data-collection">
                Field Data Collection & Management.
              </h3>
              <div class="gather-data-on-the-go">
                Gather data on-the-go, streamline reporting, and gain valuable
                insights.
              </div>
            </div>
            <div class="formation-grid3   col-md-6 col-xl-3 col-sm-6">
              <img
                class="group-icon"
                loading="lazy"
                alt=""
                src="../../../assets/group-3-4@2x.png"
              />
    
              <h3 class="project-planning">Project Planning & Management</h3>
              <div class="design-execute-and">
                Design, execute, and evaluate impactful projects with ease.
              </div>
            </div>
          </div>
        </section>
        <section class="reporting border  row d-flex justify-content-center ">
          <div class="reporting-grid">
            <img
              class="reporting-grid-child"
              loading="lazy"
              alt=""
              src="../../../assets/group-3-3@2x.png"
            />
    
            <h3 class="reporting-analytics">Reporting & Analytics</h3>
            <div class="generate-insightful-reports">
              Generate insightful reports, measure impact, and make data-driven
              decisions.
            </div>
          </div>
          <div class="reporting-grid1 ">
            <img
              class="reporting-grid-item"
              loading="lazy"
              alt=""
              src="../../../assets/group-3-3@2x.png"
            />
    
            <h3 class="stakeholder-connections ">Stakeholder Connections</h3>
            <div class="enable-email-campaigns">
              Enable email campaigns, social media integrations, and event
              management.
            </div>
          </div>
          <div class="reporting-grid2 ">
            <img
              class="reporting-grid-inner"
              loading="lazy"
              alt=""
              src="../../../assets/group-3-6@2x.png"
            />
    
            <h3 class="financial-tracking">Financial Tracking</h3>
            <div class="manage-budgets-track">
              Manage budgets, track expenses, and ensure financial transparency.
            </div>
           
          </div>
          <div class="reporting-grid3  ">
            <img
              class="reporting-grid-child1"
              loading="lazy"
              alt=""
              src="../../../assets/group-3-4@2x.png"
            />
    
            <h3 class="member-management">Member Management</h3>
            <div class="organize-member-information">
              Organize member information, gauge participation, and enhance
              interactions.
            </div>
          </div>
          <div>

            
          </div>
          <div class="reporting-child "></div>
        </section>
        
    </div>
    
      <button class="more ">
        Show More
      </button>

    
  </div>
