<div class="root">
    <section class="homepage">
      <div class="homepage-child"></div>
      <div class="empty">
        <div class="header">
          <h2 class="find-your-cause">Find Your Cause</h2>
          <div class="browse-our-curated">
            Browse our curated directory of NGOs working across Bangladesh.
            Find organizations that align with your passions and values.
          </div>
          <div class="frame-parent">
            <div class="browse-ngos-wrapper">
              <b class="browse-ngos">Browse NGOs</b>
            </div>
            <img
              class="arrow-right-alt-icon"
              loading="lazy"
              alt=""
              src="./public/arrow-right-alt.svg"
            />
          </div>
        </div>
      </div>
      <div class="rectangle-parent">
        <div class="frame-child"></div>
        <img
          class="c499ea5824-icon"
          loading="lazy"
          alt=""
          src="../../../assets/c499ea5824@2x.png"
        />
      </div>
    </section>
    <section class="journey-content-parent">
      <div class="journey-content">
        <div class="journey-content-child"></div>
        <div class="start-your-journey-parent">
          <h2 class="start-your-journey">Start Your Journey</h2>
          <div class="thinking-of-starting">
            Thinking of starting your own NGO? Shohay provides the resources,
            tools, and guidance you need to succeed. Launch Your NGO with
            Confidence.
          </div>
          <div class="frame-group">
            <div class="learn-how-to-start-an-ngo-wrapper">
              <b class="learn-how-to">Learn How to Start an NGO</b>
            </div>
            <img
              class="arrow-right-alt-icon1"
              loading="lazy"
              alt=""
              src="./public/arrow-right-alt.svg"
            />
          </div>
        </div>
        <div class="becff-container-wrapper">
          <div class="becff-container">
            <div class="becff-container-child"></div>
            <img
              class="e2832417f-icon"
              loading="lazy"
              alt=""
              src="../../../assets/2e2832417f@2x.png"
            />
          </div>
        </div>
      </div>
      <div class="journey-content1">
        <div class="journey-content-item"></div>
        <div class="strive-for-impact-parent">
          <h2 class="strive-for-impact">Strive for Impact</h2>
          <div class="access-essential-resources">
            Access essential resources for NGOs and donors alike. Explore
            funding opportunities, learn best practices, and stay informed
            with the latest news and events.
          </div>
          <div class="frame-container">
            <div class="explore-resources-wrapper">
              <b class="explore-resources">Explore Resources</b>
            </div>
            <img
              class="arrow-right-alt-icon2"
              loading="lazy"
              alt=""
              src="../../../assets/arrow-right-alt.svg"
            />
          </div>
        </div>
        <div class="rectangle-group">
          <div class="frame-item"></div>
          <img
            class="be4cf3f-icon"
            loading="lazy"
            alt=""
            src="../../../assets/799be4cf3f@2x.png"
          />
        </div>
      </div>
    </section>
  </div>