<div class="root">
    <div class="root-child"></div>
    <div class="story">
      <div class="bangladesh-stories">
        <h2 class="stories-of-change">
          Stories of Change from Across Bangladesh
        </h2>
        <div class="read-inspiring-stories">
          Read inspiring stories from NGOs and donors who have made a lasting
          impact with the help of Shohay
        </div>
      </div>
      <div class="rectangle-parent">
        <div class="frame-child"></div>
        <div class="expertise-content-parent">
          <div class="expertise-content">
            <img
              class="logo-1-icon"
              loading="lazy"
              alt=""
              src="../../../assets/logo-1@2x.png"
            />
          </div>
          <div class="shohays-expertise-enabled">
            Shohay's expertise enabled successful inception of our clean water
            initiative. They were a genuine partner in catalyzing
            transformative chang
          </div>
        </div>
        <div class="testimonial">
          <div class="testimonial-content">
            <img
              class="testimonial-image-icon"
              loading="lazy"
              alt=""
              src="../../../assets/ellipse-19-1@2x.png"
            />

            <div class="testimonial-details">
              <div class="testimonial-name">
                <b class="ngo-representative-name">NGO Representative Name</b>
                <div class="position-or-title">Position or Title</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-parent">
      <div class="rectangle-group">
        <div class="frame-item"></div>
        <div class="testimonial-item">
          <div class="image-1-wrapper">
            <img
              class="image-1-icon"
              loading="lazy"
              alt=""
              src="../../../assets/image-1@2x.png"
            />
          </div>
          <div class="shohays-expertise-enabled1">
            Shohay's expertise enabled successful inception of our clean water
            initiative. They were a genuine partner in catalyzing
            transformative chang
          </div>
        </div>
        <div class="testimonial-details-item">
          <div class="testimonial-image-item-parent">
            <img
              class="testimonial-image-item"
              loading="lazy"
              alt=""
              src="../../../assets/ellipse-19-2@2x.png"
            />

            <div class="testimonial-name-item">
              <div class="testimonial-name-content">
                <b class="ngo-representative-name1"
                  >NGO Representative Name</b
                >
                <div class="position-or-title1">Position or Title</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rectangle-container">
        <div class="frame-inner"></div>
        <div class="frame-group">
          <div class="image-8-wrapper">
            <img
              class="image-8-icon"
              loading="lazy"
              alt=""
              src="../../../assets/image-8@2x.png"
            />
          </div>
          <div class="shohays-directory-led">
            Shohay's directory led me to an NGO that aligns perfectly with my
            values. I've never felt more confident in my contributions. Thank
            you so much, Shohay!
          </div>
        </div>
        <div class="frame-wrapper">
          <div class="ellipse-parent">
            <img
              class="ellipse-icon"
              loading="lazy"
              alt=""
              src="../../../assets/ellipse-19@2x.png"
            />

            <div class="frame-container">
              <div class="ngo-representative-name-parent">
                <b class="ngo-representative-name2"
                  >NGO Representative Name</b
                >
                <div class="position-or-title2">Position or Title</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
