<div class="root">
  <!-- <div class="root-child"></div> -->
  <div class="difference">
    <h1 class="ready-to-make">
      Ready to Make a Difference? Message us or book a call.
    </h1>
    <div class="have-an-ngo">
      Have an NGO? Simplify management with our advanced platform, or Starting a
      New NGO? Register today and kickstart your initiatives with our
      comprehensive support.
    </div>
  </div>
  <form class="ngos">
    <div class="buttons">
      <button class="button-pair">
        <a class="message-us">Message us</a>
      </button>
      <button class="button-pair1">
        <a class="book-a-call">Book a call</a>
      </button>
    </div>
    <div class="inputs">
      <div class="input-labels">
        <a class="name">Name</a>
        <div class="input-values">
          <div class="input-values-child"></div>
          <input class="your-name" placeholder="Your name" type="text" />
        </div>
      </div>
      <div class="input-labels1">
        <div class="email">Email</div>
        <div class="rectangle-parent">
          <div class="frame-child"></div>
          <input
            class="your-work-email"
            placeholder="Your work email"
            type="text"
          />
        </div>
      </div>
      <div class="input-labels2">
        <div class="organization">Organization</div>
        <div class="rectangle-group">
          <div class="frame-item"></div>
          <input class="company" placeholder="Company" type="text" />
        </div>
      </div>
      <div class="message-area">
        <div class="messages">Messages</div>
        <textarea class="submission" rows="{6}" cols="{22}"> </textarea>
      </div>
      <div class="selection">
        <div class="select-one-of">Select one of them</div>
        <div class="radios">
          <div class="radio-options">
            <input
              class="radio-button-unchecked"
              type="radio"
              name="radioGroup-1"
            />

            <div class="already-have-an">Already have an NGO</div>
          </div>
          <div class="radio-options1">
            <input
              class="radio-button-unchecked1"
              type="radio"
              name="radioGroup-1"
            />

            <div class="planning-to-start">Planning to Start a New NGO</div>
          </div>
        </div>
      </div>
    </div>
    <button class="submit-area">
      <b class="submit">Submit</b>
    </button>
  </form>
</div>
